.Rproj.user
.Rhistory
.RData*
.Ruserdata
.Rproj
.RDataTmp
*.Rproj

*
!scripts/
!data_import.Rmd
!age_gender_count.Rmd
!elderly_visit_b4_death.Rmd
!supp tables.Rmd
!chronic_b4_death.Rmd
!manuscript_figures.Rmd
!fig2.Rmd
!fig3.Rmd
!fig4.Rmd
!fig5.Rmd
!icd_grouping.Rmd
!icd9.Rmd

.Rdata
.httr-oauth
.DS_Store
